node_modules/
.vs/
dist/
coverage/
.cache/
yarn.lock

.editorconfig
.*ignore
.npmrc
.yarnrc
.yarnclean

*.snap
*.sh


# yarn v2+ https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
