name: build

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  LOG_LEVEL: debug

jobs:
  prepare:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node
        with:
          save-cache: true

  test:
    needs: prepare
    runs-on: ubuntu-latest

    # tests shouldn't need more than 15 min
    timeout-minutes: 15

    steps:
      - name: Init platform
        id: init
        shell: bash
        run: |
          git config --global core.autocrlf false
          git config --global core.symlinks true

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 10 # required by codecov
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: lint
        run: |
          pnpm eslint -f gha
          pnpm prettier

      - run: pnpm compile

      - run: pnpm test:vitest
        env:
          FORCE_COLOR: true

      - name: Upload coverage
        uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
        if: always()
        with:
          name: coverage
          path: coverage

      - name: Codecov
        uses: codecov/codecov-action@1e68e06f1dbfde0e4cefc87efeba9e4643565303 # v5.1.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  e2e:
    needs: prepare
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          show-progress: false

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - run: pnpm compile

      - name: remove node_modules
        run: rm -rf node_modules

      - name: docker-config
        uses: ./
        with:
          command: docker-config

      - name: Prepare e2e
        run: |
          docker pull alpine
          docker tag alpine renovate/ubuntu
          docker tag alpine renovate/ubuntu:18.04

      - name: docker-builder (node)
        uses: ./
        with:
          command: docker-builder
          image-prefix: containerbase/
          image: node
          config: e2e/node.json
          dry-run: true
          prune: true

      - name: docker-builder (yarn)
        uses: ./
        with:
          command: docker-builder
          config: e2e/yarn.json
          dry-run: true
          major-minor: false

      - name: docker-builder (python)
        uses: ./
        with:
          command: docker-builder
          config: e2e/python.json
          tag-suffix: 'slim'
          build-args: 'IMAGE=slim'
          dry-run: true

      - name: docker-builder (ubuntu)
        uses: ./
        with:
          command: docker-builder
          config: e2e/ubuntu.json
          dry-run: true

      - name: docker-builder (helm)
        uses: ./
        with:
          command: docker-builder
          config: e2e/helm.json
          dry-run: true
          token: ${{ github.token }}

      - name: docker-builder (java)
        uses: ./
        with:
          command: docker-builder
          config: e2e/java.json
          dry-run: true

      - name: binary-builder (python)
        uses: ./
        with:
          command: binary-builder
          config: e2e/python.json
          dry-run: true
          token: ${{ github.token }}
        env:
          DISTRO: focal
          ARCH: aarch64

      - name: dummy-command
        uses: ./
        with:
          command: dummy
          dry-run: true

  release:
    needs: [test, e2e]
    runs-on: ubuntu-latest

    # tests shouldn't need more than 15 min
    timeout-minutes: 15

    steps:
      - name: Init platform
        id: init
        shell: bash
        run: |
          git config --global core.autocrlf false
          git config --global core.symlinks true
          # Use github action user for the commit
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          ref: 'release'
          show-progress: false

      - name: fetch pr
        if: ${{github.event_name == 'pull_request'}}
        run: |
          git fetch origin +${{ github.sha }}:${{ github.ref }}

      - name: Merge
        id: merge
        run: |
          git merge --no-ff -Xtheirs -m 'skip: merge (${{ github.sha }}) [skip release]' ${{ github.sha }}
          commit=$(git rev-parse HEAD)
          echo "commit=${commit}" >> $GITHUB_OUTPUT

      - name: 游닌 Setup Node.js
        uses: ./.github/actions/setup-node

      - name: Push release branch
        run: git push origin release:release
        if: ${{github.ref == 'refs/heads/main'}}

      - name: Release
        run: |
          # override for semantic-release
          export GITHUB_REF=refs/heads/release GITHUB_SHA=${{ steps.merge.outputs.commit }}
          pnpm release
        if: ${{github.ref == 'refs/heads/main'}}
        env:
          GITHUB_TOKEN: ${{ github.token }}
